<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Group</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/custom.css">
</head>
<body>

    <%- include ../partials/navbar.ejs %>
    
    <form class = "form-group" action = "/postNews" method = "post" style = "margin-top:50px;">
        <h3 style = "margin-bottom:15px;margin-left:75px;" id = "heading">Create Ur Group</h3>
    <p>
    <input type="text" class = "form-control" name = "heading" placeholder = "Meme" style = "width:400px;font-size:12px;">
    </p><p>
    <textarea name="description" class = "form-control" id="" cols="30" rows="10" style = "width: 400px;"></textarea>
    </p><p>
    <button type = "button" id = "upload_btn" class = "upload-btn btn-primary form-control" style = "width:400px;font-size:12px;">Upload Meme</button>
    </p>
    <button>Ready To Go!!</button><br>
    <input type = "file" id = "upload_input" name = "upload" style = "display: none"> 
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>