<nav class="navbar navbar-expand-md navbar-dark fixed-top" style = "height:50px;background-color: #101010">
    <a class="navbar-brand" style = "font-family: zorque;position:absolute;right:576px;color:#fff" style = "float:right;" href="/">Hide Out</a>
   <inout id = "search"></inout>
   <inout id = "search1"></inout>
   </nav>